.chat-container {
    display: flex;
}

.users-list {
    width: 20%;
    padding: 0 15px;
    margin-right: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.chat-block {
    width: 70%;
    padding: 0 15px 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}